
<div class="container">

    <form method="P" action="valida-form.php">
        <div class="elemento-formulario">
            <label> Nome:</label>
            <input type="text" name="nome" required> 
        </div>

        <div class="elemento-formulario">
            <label> Sobrenome:</label>
            <input type="text" name="sobrenome" required>
        </div>

        <div class="elemento-formulario">
            <label> Idade:</label>
            <input type="number" name="idade" required>
        </div>

        <div class="elemento-formulario">
            <input type="submit">
            <input type="reset"> 
        </div>
    
       
    </form>

</div>